<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <!-- Set time on how often the service checks services. 5000 = 5 seconds-->
  <interval>5000</interval>

  <!-- Path to log file -->
  <logFilePath>C:\\ServiceWatcher\\ServiceWatcherLog.txt</logFilePath>

  <!-- Manually Restart Service at Time: 7:00:30.0000000 = 7:00am 30 seconds-->
  <manualRestartTime>16:16:30.0000000</manualRestartTime>
  
  <!-- Add services name here-->
  <service>WebClient</service>
  <service>SNMPTRAP</service>
</configuration>
